
<link href="css/login.css" rel="stylesheet" type="text/css"/>

<!-- BEGIN LOGO -->
<div class="logo">
	<img src="images/crm.jpg" width="200" height="60" alt=""/>
</div>
<!-- END LOGO -->
<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGIN -->
<div class="content">
	<!-- BEGIN LOGIN FORM -->
	<form class="login-form" role="form" method="post">
		<h3 class="form-title">Login to your account</h3>
        <div class="alert alert-danger" >
			<button class="close" data-close="alert"></button>
			<span>Enter any username and password. </span>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Username</label>
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input class="form-control placeholder-no-fix" type="text" placeholder="Username" name="username" required="" autofocus=""/>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9" >Password</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" required/>
			</div>
		</div>
		<div class="form-actions">
			<label class="marg-top5">
			<checkbox name="remember" value="" ng-model="rememberMe"></checkbox> <span class="marg-left5">Remember me </span></label>
			<button type="submit" class="btn green-haze pull-right">Login <i class="m-icon-swapright m-icon-white"></i></button>
		</div>

		<div class="forget-password">
			<h4>Forgot your password ?</h4>
			<p>
				no worries, click <a href="javascript:;" id="forget-password">
				here </a>
				to reset your password.
			</p>
		</div>
		<div class="create-account">
			<p>
				 Don't have an account yet ?&nbsp; <a href="javascript:;" id="register-btn">
				Create an account </a>
			</p>
		</div>
	</form>
	<!-- END LOGIN FORM -->

	<!-- BEGIN FORGOT PASSWORD FORM -->
	<form class="forget-form"  method="post">
		<h3>Forget Password ?</h3>
		<p>
			 Enter your e-mail address below to reset your password.
		</p>
		<div class="form-group">
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
				<input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="email"/>
			</div>
		</div>
		<div class="form-actions">
			<button type="button" id="back-btn" class="btn"><i class="m-icon-swapleft"></i> Back </button>

			<button type="submit" class="btn green-haze pull-right"> Submit <i class="m-icon-swapright m-icon-white"></i></button>
		</div>
	</form>
	<!-- END FORGOT PASSWORD FORM -->

	<!-- BEGIN REGISTRATION FORM -->
	<form class="register-form" name="form" method="post" ng-controller="RegistrationCtrl">
		<h3 class="form-title">Sign Up</h3>
        <div class="alert alert-danger" >
			<button class="close" data-close="alert"></button>
			<span> </span>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">First Name</label>
			<div class="input-icon">
				<i class="fa fa-user"></i>
				<input required="" class="form-control placeholder-no-fix" type="text" placeholder="First Name" name="firstName" ng-model="firstName"/>
			</div>
		</div>
       	<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Last Name</label>
			<div class="input-icon">
				<i class="fa fa-font"></i>
				<input required="" class="form-control placeholder-no-fix" type="text" placeholder="Company Name" name="companyName" ng-model="companyName"/>
			</div>
		</div>
		<div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Email</label>
			<div class="input-icon">
				<i class="fa fa-envelope"></i>
				<input class="form-control placeholder-no-fix" type="email" placeholder="Email" name="email" ng-model="email"/>
			</div>
		</div>
        <div class="form-group">
			<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
			<label class="control-label visible-ie8 visible-ie9">Contact No.</label>
			<div class="input-icon">
				<i class="fa fa-phone"></i>
				<input class="form-control placeholder-no-fix" type="text" placeholder="Contact Number" name="phone" ng-model="phoneNumber"/>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Password</label>
			<div class="input-icon">
				<i class="fa fa-lock"></i>
				<input class="form-control placeholder-no-fix" type="password" minlength="8" tooltip-placement="right" tooltip-trigger="focus"  tooltip-append-to-body="true"
                       tooltip="Password must contain: Minimum 8 characters at least 1 UpperCase, 1 LowerCase, 1 Number and 1 Special Character" autocomplete="off" id="register_password"  placeholder="Password" name="password" ng-model="password" />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
			<div class="controls">
				<div class="input-icon">
					<i class="fa fa-check"></i>
					<input class="form-control placeholder-no-fix" type="password" autocomplete="off"  placeholder="Re-type Your Password" name="rpassword" ng-model="rpassword"/>
                </div>
			</div>
		</div>
		<div class="form-group">
			<label>
                 <checkbox name="tnc" ng-model="ConfirmAgree"></checkbox>
			     <span class="marg-left5">I agree to the <a href="">Terms of Service </a>and <a href="">Privacy Policy </a></span>
			</label>
			<div class="has-error"><sapn class="help-block"></sapn></div>
		</div>
		<div class="form-actions">
			<button id="register-back-btn" type="button" class="btn"><i class="m-icon-swapleft"></i> Back </button>

			<button type="submit" id="register-submit-btn" class="btn green-haze pull-right" ng-click=companyRegistration()
                    >Sign Up <i class="m-icon-swapright m-icon-white"></i></button>
		</div>
	</form>
	<!-- END REGISTRATION FORM -->
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
	 2015 &copy; Zehntech Technologies.
</div>
<script src="app/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="app/js/additional-methods.min.js" type="text/javascript"></script>
<script src="app/js/login.js" type="text/javascript"></script>
<script src="app/js/select2.full.min.js" type="text/javascript"></script>
<script src="app/js/jquery.backstretch.min.js" type="text/javascript"></script>
