/* here you can put your own css to customize and override the theme */

/*.diff-views li a {*/
    /*padding: 2px 11px 8px 11px;*/
	/*border-radius: 50%;*/
	/*background: #ddd;*/
/*}*/

/*.diff-views li {*/
	/*padding-right: 16px;*/
/*}*/

.bg-circle {
    padding: 2px 11px 8px 11px;
    border-radius: 50%;
    background: #ddd;
}

/*list view*/
.list-view {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #333333 ;
	background: transparent;
	padding: 14px;
	padding-left: 26px;
	padding-right: 0px;
	height: auto;
}

.list-entry,
 {
	background: #fff;
	border-bottom: 5px solid #f8f8f8;
	border-left: 3px solid #7db4c8;
	-webkit-box-shadow:  -1px 2px 2px 2px rgb(245,245,245);
	box-shadow:  -1px 2px 2px 2px rgb(245,245,245);
}

.list-entry.disabled,
.list-entry.disabled:hover,
.ist-entry.disabled:focus {
	color: #777;
  	cursor: not-allowed;
  	background-color: #eee;
}

.list-entry.disabled .list-entry-heading,
.list-entry.disabled:hover .list-entry-heading,
.list-entry.disabled:focus .list-entry-heading {
  	color: inherit;
}

.list-entry.disabled .list-entry-text,
.list-entry.disabled:hover .list-entry-text,
.list-entry.disabled:focus .list-entry-text {
  	color: #777;
}

.list-entry.disabled td a {
	cursor: not-allowed;
}

.list-entry .list-updates img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

input.text-bar {
	background: transparent;
	border: none;
	border-bottom-color: #969696;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	width: 222px;
	font-size: 13px;
	color: #646464;
}

.padd-top {
	padding-top: 23px !important;
}

.error-message {
	color: red;
	font-size: 11px;
}