<!-- BEGIN INNER FOOTER -->
<div class="page-footer">
	<div class="container"> 2015 &copy;
    	<a href="" target="_blank">Zehntech Technologies.</a>
    </div>
</div>
<div class="scroll-to-top">
	<i class="icon-arrow-up"></i>
</div>
<!-- END INNER FOOTER -->