<div class="page-container-bg-solid page-boxed">

    <!-- BEGIN HEADER -->
    <header data-ng-include="'module/core/views/header.html'" ng-controller="HeaderController"></header>
    <!-- END HEADER -->

    <div class="clearfix"> </div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">

        <!-- BEGIN PAGE HEAD -->
        <div data-ng-include="'module/core/views/page-head.html'" data-ng-controller="PageHeadController" class="page-head"> </div>
        <!-- END PAGE HEAD -->

        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">
            <div class="container">

                <!-- BEGIN ACTUAL CONTENT -->
                <div ui-view class="fade-in-up"> </div>
                <!-- END ACTUAL CONTENT -->

            </div>
        </div>
        <!-- END PAGE CONTENT -->

        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler">
            <i class="icon-login"></i>
        </a>
        <div data-ng-include="''module/core/views/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
        <!-- END QUICK SIDEBAR -->

    </div>
    <!-- END CONTAINER -->


    <!-- BEGIN FOOTER -->
    <div data-ng-include="'module/core/views/footer.html'" ng-controller="FooterController"></div>
    <!-- END FOOTER -->

</div>
