
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> Users List</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" class="btn sbold green" data-toggle="modal"
                                        data-target="#addUserModal"> Add New
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-print"></i> Print </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column"
                       id="sample_1">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes"/></th>
                        <th> Username</th>
                        <th> Email</th>
                        <th> Role</th>
                        <th> Contact</th>
                        <th> Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd gradeX">
                        <td>
                            <input type="checkbox" class="checkboxes" value="1"/></td>
                        <td> shuxer</td>
                        <td>
                            <a href="mailto:shuxer@gmail.com"> shuxer@gmail.com </a>
                        </td>
                        <td> 120</td>
                        <td class="center"> 12 Jan 2012</td>
                        <td>
                            <span class="label label-sm label-success"> Approved </span>
                        </td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>
                            <input type="checkbox" class="checkboxes" value="1"/></td>
                        <td> looper</td>
                        <td>
                            <a href="mailto:looper90@gmail.com"> looper90@gmail.com </a>
                        </td>
                        <td> 120</td>
                        <td class="center"> 12.12.2011</td>
                        <td>
                            <span class="label label-sm label-warning"> Suspended </span>
                        </td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>
                            <input type="checkbox" class="checkboxes" value="1"/></td>
                        <td> userwow</td>
                        <td>
                            <a href="mailto:userwow@yahoo.com"> userwow@yahoo.com </a>
                        </td>
                        <td> 20</td>
                        <td class="center"> 12.12.2012</td>
                        <td>
                            <span class="label label-sm label-success"> Approved </span>
                        </td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>
                            <input type="checkbox" class="checkboxes" value="1"/></td>
                        <td> user1wow</td>
                        <td>
                            <a href="mailto:userwow@gmail.com"> userwow@gmail.com </a>
                        </td>
                        <td> 20</td>
                        <td class="center"> 12.12.2012</td>
                        <td>
                            <span class="label label-sm label-default"> Blocked </span>
                        </td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>
                            <input type="checkbox" class="checkboxes" value="1"/></td>
                        <td> restest</td>
                        <td>
                            <a href="mailto:userwow@gmail.com"> test@gmail.com </a>
                        </td>
                        <td> 20</td>
                        <td class="center"> 12.12.2012</td>
                        <td>
                            <span class="label label-sm label-success"> Approved </span>
                        </td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>
                            <input type="checkbox" class="checkboxes" value="1"/></td>
                        <td> foopl</td>
                        <td>
                            <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                        </td>
                        <td> 20</td>
                        <td class="center"> 19.11.2010</td>
                        <td>
                            <span class="label label-sm label-success"> Approved </span>
                        </td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>
                            <input type="checkbox" class="checkboxes" value="1"/></td>
                        <td> weep</td>
                        <td>
                            <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                        </td>
                        <td> 20</td>
                        <td class="center"> 19.11.2010</td>
                        <td>
                            <span class="label label-sm label-success"> Approved </span>
                        </td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>
                            <input type="checkbox" class="checkboxes" value="1"/></td>
                        <td> coop</td>
                        <td>
                            <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                        </td>
                        <td> 20</td>
                        <td class="center"> 19.11.2010</td>
                        <td>
                            <span class="label label-sm label-success"> Approved </span>
                        </td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>
                            <input type="checkbox" class="checkboxes" value="1"/></td>
                        <td> pppol</td>
                        <td>
                            <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                        </td>
                        <td> 20</td>
                        <td class="center"> 19.11.2010</td>
                        <td>
                            <span class="label label-sm label-success"> Approved </span>
                        </td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>
                            <input type="checkbox" class="checkboxes" value="1"/></td>
                        <td> test</td>
                        <td>
                            <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                        </td>
                        <td> 20</td>
                        <td class="center"> 19.11.2010</td>
                        <td>
                            <span class="label label-sm label-success"> Approved </span>
                        </td>
                    </tr>
                    <tr class="odd gradeX">
                        <td>
                            <input type="checkbox" class="checkboxes" value="1"/></td>
                        <td> userwow</td>
                        <td>
                            <a href="mailto:userwow@gmail.com"> userwow@gmail.com </a>
                        </td>
                        <td> 20</td>
                        <td class="center"> 12.12.2012</td>
                        <td>
                            <span class="label label-sm label-default"> Blocked </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="singleUserForm" name="addUser" novalidate class="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Add User</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <input type="text" placeholder="User First Name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <input type="text" placeholder="User Last Name" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="text" placeholder="User Mail ID" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mobile Number</label>
                        <input type="text" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Role</label>

                        <div>
                            <select class="bs-select form-control">
                                <option>Administrator</option>
                                <option>User</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">CANCEL</button>
                    <button type="button" class="btn green">CREATE</button>
                </div>
            </form>
        </div>
    </div>
</div>